html, body {
  height: 100%;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: #333
}

#mapDiv {
  width: 803px;
  height: 803px;
  background: #111;
  display: inline-block;
}

#donateDiv {
  display: inline-block;
  vertical-align: top;
}

.leaflet-popup-content-wrapper{
    width: 440px;
    background-color: #444;
    color:#fff;
}

.leaflet-popup-tip {
    opacity: 0;
}

.popupImage {
    max-width: 400px;
}

.navBar ul {
  font-size: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBar li {
  float: left;
}

.navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover:not(.active) {
  background-color: #111;
}

.navBar .active {
  background-color: #781212;
}

